/*
  We use a CSS counter to track the player#s XP (Experience Points) as a record of their achievements.
  XP can be gained by picking up items, solving puzzles, etc.
*/
body {
  counter-reset: xp;
}

/*
  We can't target the checkboxes themselves because they lives inside <dialog>
  elements, which when exited (when the player leaves map, or closes the 
  encounter) get display: none'd, which removes the counter-increment. So
  instead we target its inventory slot. (It could be any element that will
  always be visible and doesn't have another xp increment on, but we might as
  well use an element related to the item.

  We technically wouldn't have to do this with the croissant because it lives 
  in the house map, which is the first map and therefore never gets closed,
  but for consistency (and to allow the croissant to be placed on another map
  in the future) we do the same for all the items.

  See https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Values/counters
  for more information about CSS counters (and some more reasonable use cases
  for them!)
*/
:has(#item-croissant:checked) .inventory li:nth-child(1) {
  counter-increment: xp 10;
}
:has(#item-crystal:checked) .inventory li:nth-child(3) {
  counter-increment: xp 20;
}
:has(#encounter-give:checked) .inventory li:nth-child(4) {
  counter-increment: xp 50;
}

.xp-display::before {
  padding: 0.25rem 1rem;
  border-radius: 0.5rem;
  corner-shape: bevel;
  content: "XP: " counter(xp);
}

/*
  We want the user to know when they earn some XP, so we add a nice attention-grabbing
  effect to the counter element every time they do so. To make the animation re-run
  we need to use a unique keyframe each time, otherwise it will only run on the first
  xp event.
*/
@keyframes xp-glow-1 {
  0%,
  100% {
    background-color: transparent;
  }
  50% {
    background-color: gold;
  }
}
@keyframes xp-glow-2 {
  0%,
  100% {
    background-color: transparent;
  }
  50% {
    background-color: gold;
  }
}
@keyframes xp-glow-3 {
  0%,
  100% {
    background-color: transparent;
  }
  50% {
    background-color: gold;
  }
}
@media (prefers-reduced-motion: no-preference) {
  :has(#item-croissant:checked) .xp-display::before {
    animation: xp-glow-1 1s steps(4) backwards;
  }
  :has(#item-crystal:checked) .xp-display::before {
    animation: xp-glow-2 1s steps(4) backwards;
  }
  :has(#encounter-give:checked) .xp-display::before {
    animation: xp-glow-3 1s steps(4) backwards;
    animation-delay: 5s; /* Delay highlight until backplate received */
  }
}
