/*
  The game is complete in terms of objectives if the user has picked up
  the crystals (after solving the stone puzzle in the cave) and receiving
  the old back plate from the Stegosaurus (by giving them the croissant
  in the long grass encounter).
 
  In terms of state this boils down to the crystal item checkbox and the
  "give the stego your croissant" checkbox being checked
*/

/*
  A few pre-endgame rules to hide stuff until the game objectives are
  complete
*/
.speech-bubble-notice,
.speech-bubble-endgame {
  visibility: hidden;
}

/* Rocket sprite which sits next to the lab on the overworld map */
.tile.endgame-rocket {
  .rocket-sprite {
    width: 100%;
    height: 100%;
    background-image: url('../assets/rocket.png');
    background-size: cover;
  }
}

/*
  The endgame plays out as a cut-scene, in which:
  1. The pterodactyl scientists notice Yogaraptor enter the lab
  2. They move to greet him and exchange some words
  3. The lab map is hidden, revealing the overworld map, where a rocket
    tile has appeared next to the lab
  4. A queue of dinos enter the rocket
  5. A speech bubble appears announcing the countdown
  6. The rocket lifts off, the scene fades to white
  7. Speech bubbles of dialogue from the saved dinosaurs fill the screen
*/
.app:has(#item-crystal:checked).app:has(#encounter-give:checked) {
  &:has(.map-lab:open) {
    .player,
    .tile-btn {
      display: none;
    }

    .map:not(.map-lab, .map-overworld) {
      display: none;
    }
    .map-overworld {
      filter: brightness(0);
      animation: endgame-show-overworld 2s steps(6) 24s forwards;
    }
  }

  .map-lab:open {
    .player {
      display: flex;
    }
    /*
    0. Disable scrolling (and therefore player movement) to make it feel like a prope cut-scene
    We have to do this using a (brief) animation, because if we set it immediately, the browser
    won't scroll to the autofocused "start" tile, and the player will appear to enter the room
    in the top-left rather than by the door.

    Also hide the exit door message
  */
    .viewport {
      animation: disable-scrolling 0.1s forwards;
    }
    .tile.door .tile-btn {
      display: none;
    }

    /*
    1. Show "!" speech bubble over scientists head as player enters lab
  */
    .tile.endgame-crystal + .tile .npc-wrapper {
      scale: -1 1; /* Turn NPC to face player */
    }
    .tile.endgame-crystal,
    .tile.endgame-back-plate {
      .speech-bubble-notice {
        animation: endgame-npc-speech-reveal 2s steps(6) forwards 1s;
      }
    }

    /*
    2. NPC movement and greeting
  */
    .tile.speech.endgame {
      z-index: 20; /* We move these NPCs south on the map. Southerly tiles will be higher in stacking context, so we need to bump the speech bubbles above them */
    }
    .tile.endgame-crystal {
      --speech-offset-x: calc(-50% + calc(var(--tile-width) * 1.25));

      .speech-bubble-endgame {
        bottom: calc(var(--tile-height) * -1);
        animation: endgame-npc-speech-reveal 4s steps(12) forwards 10s;
      }
    }
    .tile.endgame-back-plate {
      --speech-offset-x: calc(-50% + var(--tile-width));

      .speech-bubble-endgame {
        bottom: calc(var(--tile-height) * -1);
        left: calc(var(--tile-width) * -4) !important;
        animation: endgame-npc-speech-reveal 4s steps(12) forwards 14s;
      }
    }

    .tile.tile.endgame-crystal + .tile.npc {
      justify-content: flex-end;

      .npc-wrapper {
        animation: endgame-npc-crystal-move 2s linear forwards 4s;
      }
    }

    .tile.tile.endgame-back-plate + .tile.npc .npc-wrapper {
      animation: endgame-npc-back-plate-move 7s linear forwards 4s;
    }

    .player {
      animation: endgame-character-excitement 0.2s linear infinite 20.5s;

      .speech-bubble-endgame {
        animation: endgame-player-speech-reveal 0.5s steps(6) forwards 20s;
      }
    }

    /* 3. Fade out lab to overworld with rocket and dino queue */
    animation: endgame-hide-lab 2s steps(12) forwards 22s;
    .tile.endgame-rocket
    
  }
}

@keyframes disable-scrolling {
  0% {
    interactivity: auto;
  }

  100% {
    interactivity: inert;
  }
}

@keyframes endgame-npc-speech-reveal {
  0% {
    visibility: visible;
    translate: var(--speech-offset-x) 1rem;
    opacity: 0;
  }
  25%,
  95% {
    translate: var(--speech-offset-x) 0;
    opacity: 1;
    visibility: visible;
  }
  100% {
    visibility: hidden;
    translate: var(--speech-offset-x) 1rem;
    opacity: 0;
  }
}

@keyframes endgame-player-speech-reveal {
  0% {
    visibility: visible;
    translate: 0 2rem;
    opacity: 0;
  }
  100% {
    translate: 0 -1rem;
    opacity: 1;
    visibility: visible;
  }
}

@keyframes endgame-npc-crystal-move {
  0% {
    translate: 0 0;
  }

  100% {
    translate: 0 calc(var(--tile-height) * 2);
  }
}

@keyframes endgame-npc-back-plate-move {
  0% {
    translate: 0 0;
  }

  20% {
    translate: 0 calc(var(--tile-height) * 2);
  }

  70%,
  100% {
    translate: calc(var(--tile-height) * -5) calc(var(--tile-height) * 2);
  }
}

@keyframes endgame-character-excitement {
  0% {
    translate: 0 0;
  }
  100% {
    translate: 0 -3px;
  }
}

@keyframes endgame-hide-lab {
  0% {
    filter: brightness(1);
  }
  99% {
    filter: brightness(0);
    visibility: visible;
  }
  100% {
    filter: brightness(0);
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes endgame-show-overworld {
  0% {
    filter: brightness(0);
  }
  100% {
    filter: brightness(1);
  }
}
