:root {
  --tile-width: 50px;
  --tile-height: 50px;
  --viewport-width: 450px;
  --viewport-height: 450px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #2c3e50;
  font-family: Arial, sans-serif;
}

.splash-screen {
  color: white;

  a {
    color: inherit;
  }
}

.map {
  left: 50%;
  top: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  background-color: black;
}

.viewport {
  display: grid;
  grid-template-columns: repeat(var(--map-width), var(--tile-width));
  grid-template-rows: repeat(var(--map-height), var(--tile-height));
  gap: 0;
  width: var(--viewport-width);
  height: var(--viewport-height);
  overflow: auto;
  scroll-snap-type: both mandatory;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
  container-name: viewport;

  /* Hide scrollbars */
  scrollbar-width: none;
  overflow: scroll;

  &::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
  }
}

@keyframes gameOver {
  0%,
  90% {
    opacity: 0;
  }

  91% {
    pointer-events: auto;
    background: red;
  }

  100% {
    opacity: 1;
    content: "GAME OVER!";
    background: red;
  }
}
