.player {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  background-image: url("../assets/player-walk-x.png");
  background-size: auto 100%;
  width: calc(var(--tile-width) / 2);
  height: calc(var(--tile-height) / 2);
  pointer-events: none;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  /* Walk animation */
  animation: walkAnimationX 1ms steps(4);
  animation-timeline: --map-timeline-x;
  animation-iteration-count: 15;
}

@keyframes walkAnimationX {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: calc(-4 * var(--tile-width));
  }
}

@keyframes walkAnimationY {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: calc(-4 * var(--tile-width));
  }
}

.map .viewport {
  scroll-timeline:
    --map-timeline-x x,
    --map-timeline-y y;
}

@keyframes playerHurt {
  0% {
    box-shadow: none;
  }

  50% {
    box-shadow: 0 0 50px 10px yellow;
  }
}
