/* Ensure any targeted tile is centered in the viewport */
.tile:target,
.tile[autofocus] {
  scroll-margin: calc((var(--viewport-height) / 2) - (var(--tile-height) / 2))
    calc((var(--viewport-width) / 2) - (var(--tile-width) / 2));
  outline: none;
}

/* Common tile styles */
.tile {
  width: var(--tile-width);
  height: var(--tile-height);
  scroll-snap-align: center center;
  container-type: scroll-state;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-size: cover;
  transition: all 0.3s ease;
}

/* Basic tile graphics */
.tile.grass,
.tile[class~="mound"] {
  background-color: #27ae60;
}
.tile.grass1 {
  background-image: url("../assets/grass1.png");
}
.tile.grass2 {
  background-image: url("../assets/grass2.png");
}

.tile.mound-nw {
  background-image: url("../assets/mound-nw.png");
}
.tile.mound-n {
  background-image: url("../assets/mound-n.png");
}
.tile.mound-ne {
  background-image: url("../assets/mound-ne.png");
}
.tile.mound-e {
  background-image: url("../assets/mound-e.png");
}
.tile.mound-ramp-e {
  background-image: url("../assets/mound-ramp-e.png");
}
.tile.mound-se {
  background-image: url("../assets/mound-se.png");
}
.tile.mound-s {
  background-image: url("../assets/mound-s.png");
}
.tile.mound-sw {
  background-image: url("../assets/mound-sw.png");
}
.tile.mound-w {
  background-image: url("../assets/mound-w.png");
}

.tile.lab {
  background-image: url("../assets/lab.png");
}

.tile.lava {
  p {
    position: relative;
    width: 100%;
    height: 100%;
    background: #e74c3c;
    background-image: radial-gradient(
      circle at 30% 30%,
      #ff6b6b 0%,
      #e74c3c 50%,
      #c0392b 100%
    );
  }
}

.tile.door {
  position: relative;
  background-color: black;
}

.tile.puzzle {
  position: relative;
  background-color: purple;
}

.tile.floor {
  background-color: burlywood;
  background-image: url("../assets/floor1.png");
}

.tile.doormat {
  background-color: burlywood;
  background-image: url("../assets/doormat.png");
}
.tile.houseplant {
  background-color: olive;
  background-image:
    url("../assets/houseplant.png"), url("../assets/floor1.png");
}
.tile.croissant {
  background-image: url("../assets/croissant.png"), url("../assets/floor1.png");
}
.tile.bookcase-n {
  background-image:
    url("../assets/bookcase-n.png"), url("../assets/wall-n2.png");
}
.tile.bookcase-s {
  background-image:
    url("../assets/bookcase-s.png"), url("../assets/wall-n1.png");
}

.tile.wall {
  background-color: #444;
}
/* Wall tiles */
.tile.wall-n1 {
  background-image: url("../assets/wall-n1.png");
}
.tile.wall-n2 {
  background-image: url("../assets/wall-n2.png");
}
.tile.wall-lamp-n2 {
  background-image: url("../assets/wall-lamp-n2.png");
}
.tile.wall-picture-n1 {
  background-image: url("../assets/wall-picture-n1.png");
}
.tile.wall-picture-n2 {
  background-image: url("../assets/wall-picture-n2.png");
}
.tile.wall-ne1 {
  background-image: url("../assets/wall-ne1.png");
}
.tile.wall-ne2 {
  background-image: url("../assets/wall-ne2.png");
}
.tile.wall-e1 {
  background-image: url("../assets/wall-e1.png");
}
.tile.wall-e2 {
  background-image: url("../assets/wall-e2.png");
}
.tile.wall-se1 {
  background-image: url("../assets/wall-se1.png");
}
.tile.wall-se2 {
  background-image: url("../assets/wall-se2.png");
}
.tile.wall-s1 {
  background-image: url("../assets/wall-s1.png");
}
.tile.wall-s2 {
  background-image: url("../assets/wall-s2.png");
}
.tile.wall-sw1 {
  background-image: url("../assets/wall-sw1.png");
}
.tile.wall-sw2 {
  background-image: url("../assets/wall-sw2.png");
}
.tile.wall-w1 {
  background-image: url("../assets/wall-w1.png");
}
.tile.wall-w2 {
  background-image: url("../assets/wall-w2.png");
}
.tile.wall-nw1 {
  background-image: url("../assets/wall-nw1.png");
}
.tile.wall-nw2 {
  background-image: url("../assets/wall-nw2.png");
}
.tile.door-s1 {
  background-image: url("../assets/door-s1.png");
}
.tile.door-s2 {
  background-image: url("../assets/door-s2.png");
}
.tile.wall-window-s1 {
  background-image: url("../assets/wall-window-s1.png");
}
.tile.wall-window-s2 {
  background-image: url("../assets/wall-window-s2.png");
}

.tile.bed-n {
  background-image: url("../assets/bed-n.png"), url("../assets/floor1.png");
}
.tile.bed-s {
  background-image: url("../assets/bed-s.png"), url("../assets/floor1.png");
}

.tile.rug-n {
  background-image: url("../assets/rug-n.png"), url("../assets/floor1.png");
}
.tile.rug-ne {
  background-image: url("../assets/rug-ne.png"), url("../assets/floor1.png");
}
.tile.rug-e {
  background-image: url("../assets/rug-e.png"), url("../assets/floor1.png");
}
.tile.rug-se {
  background-image: url("../assets/rug-se.png"), url("../assets/floor1.png");
}
.tile.rug-s {
  background-image: url("../assets/rug-s.png"), url("../assets/floor1.png");
}
.tile.rug-sw {
  background-image: url("../assets/rug-sw.png"), url("../assets/floor1.png");
}
.tile.rug-w {
  background-image: url("../assets/rug-w.png"), url("../assets/floor1.png");
}
.tile.rug-nw {
  background-image: url("../assets/rug-nw.png"), url("../assets/floor1.png");
}
.tile.rug-c {
  background-image: url("../assets/rug-c.png"), url("../assets/floor1.png");
}

.tile.stone {
  background-color: grey;
}
.tile.void {
  background-color: #000;
}
.tile.tree1 {
  background-color: darkolivegreen;
  background-image: url("../assets/tree1.png");
}
.tile.bush1 {
  background-color: darkolivegreen;
  background-image: url("../assets/bush1.png");
}
.tile.bush2 {
  background-color: darkolivegreen;
  background-image: url("../assets/bush2.png");
}
.tile.rock1 {
  background-color: gray;
  background-image: url("../assets/rock1.png");
}
.tile.rock2 {
  background-color: gray;
  background-image: url("../assets/rock2.png");
}
.tile.long-grass {
  background-color: darkgreen;
}
.tile[class~="cliff"] {
  background-color: darkslategrey;
}
.tile.cliff-w {
  background-image: url("../assets/cliff-w.png");
}
.tile.cliff-corner-nw {
  background-image: url("../assets/cliff-corner-nw.png");
}
.tile.cliff-corner-sw {
  background-image: url("../assets/cliff-corner-sw.png");
}
.tile.cliff-corner-nw2 {
  background-image: url("../assets/cliff-corner-nw2.png");
}
.tile.cliff-corner-sw2 {
  background-image: url("../assets/cliff-corner-sw2.png");
}
.tile.cliff-cave-w {
  background-image: url("../assets/cliff-cave-w.png");
}
.tile.cliff-cave-w2 {
  background-image: url("../assets/cliff-cave-w2.png");
}
.tile.mountain1 {
  background-image: url("../assets/mountain1.png");
}

.tile.sign1 {
  background-image: url("../assets/sign1.png");
}
.tile.sign2 {
  background-image: url("../assets/sign2.png");
}
.tile.house1 {
  background-image: url("../assets/house1.png");
}
.tile.house2 {
  background-image: url("../assets/house2.png");
}
.tile.house3 {
  background-image: url("../assets/house3.png");
}
.tile.shop1 {
  background-image: url("../assets/shop1.png");
}

/* Road tiles */
.tile[class*="road-"] {
  background-color: #555;
}
.tile.road-h-cap-w {
  background-image: url("../assets/road-w.png");
}
.tile.road-h-middle {
  background-image: url("../assets/road-h-middle.png");
}
.tile.road-h-cap-e {
  background-image: url("../assets/road-h-cap-e.png");
}
.tile.road-v-cap-n {
  background-image: url("../assets/road-v-cap-n.png");
}
.tile.road-v-middle {
  background-image: url("../assets/road-v-middle.png");
}
.tile.road-v-cap-s {
  background-image: url("../assets/road-v-cap-s.png");
}
.tile.road-bend-nw {
  background-image: url("../assets/road-bend-nw.png");
}
.tile.road-bend-ne {
  background-image: url("../assets/road-bend-ne.png");
}
.tile.road-bend-se {
  background-image: url("../assets/road-bend-se.png");
}
.tile.road-bend-sw {
  background-image: url("../assets/road-bend-sw.png");
}
.tile.road-tjunc-n {
  background-image: url("../assets/road-tjunc-n.png");
}
.tile.road-tjunc-e {
  background-image: url("../assets/road-tjunc-e.png");
}
.tile.road-tjunc-s {
  background-image: url("../assets/road-tjunc-s.png");
}
.tile.road-tjunc-w {
  background-image: url("../assets/road-tjunc-w.png");
}
.tile.road-cross {
  background-image: url("../assets/road-cross.png");
}

/* NPCs */
.tile.npc {
  .npc-sprite {
    width: 50%;
    height: 50%;
    background-size: cover;
  }
}

.npc-triceratops {
  justify-content: start; /* Triceratops is facing left, align to left of tile */

  .npc-sprite {
    background-image: url("../assets/triceratops.png");
    animation: spritesheet 1s steps(8) infinite;
  }
}

@keyframes spritesheet {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -100% 0;
  }
}

/* Tiles with interactive buttons (e.g. doors, puzzles, signposts) */
.tile .tile-btn {
  display: flex;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  z-index: 20;
  bottom: 4px;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
  color: white;
  background: rgba(0, 0, 0, 0.85);
  padding: 2px 6px;
  border: 1px solid white;
  border-radius: 3px;
  font-size: 0.65rem;
  white-space: nowrap;
  cursor: pointer;
}

/* Item tiles */
.tile.item {
  position: relative;

  /* Hide control until on tile */
  label,
  .item-checkbox {
    opacity: 0;
    pointer-events: none;
  }

  label {
    cursor: pointer;
  }

  &:has(:checked) {
    label,
    .item-checkbox {
      opacity: 0;
    }
  }

  .item-icon {
    color: white;
  }
}

/* Speech bubbles for tiles adjacent to NPCs, to simulate conversation */
.tile.speech {
  position: relative;

  .speech-bubble {
    display: none;
  }
}

/* T-Rex encounter tile */
.tile.encounter {
  position: relative;

  .encounter-transition {
    opacity: 0;
    pointer-events: none;
  }

  .tile-btn {
    bottom: -1rem;
  }

  &:has(#encounter-give:checked) {
    .tile-btn {
      opacity: 0;
      pointer-events: none;
    }
  }
}

/* Special tile states when player is "on" that tile */
@container scroll-state(snapped: x) or scroll-state(snapped: y) {
  /* Fire effect around player when on lava */
  .tile.lava::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    width: calc(var(--tile-width) / 2);
    height: calc(var(--tile-height) / 2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    color: white;
    animation: playerHurt 1s ease-in-out infinite;
  }

  .tile.lava::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    content: "GAME OVER";
    animation: gameOver 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    pointer-events: none;
  }

  .tile.lava p {
    border: 2px solid green;
  }

  .tile .tile-btn {
    opacity: 1;
    pointer-events: auto;
  }

  .tile.item {
    label {
      opacity: 1;
      pointer-events: auto;
    }
  }

  .tile.speech {
    .speech-bubble {
      display: block;
    }
  }

  .tile.encounter .encounter-transition {
    position: absolute;
    top: calc(-0.5 * var(--viewport-height) + 0.5 * var(--tile-height));
    left: calc(-0.5 * var(--viewport-width) + 0.5 * var(--tile-width));
    bottom: 0;
    right: 0;
    z-index: 10;
    width: var(--viewport-width);
    height: var(--viewport-height);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000f0;
    opacity: 1;
    pointer-events: auto;
    background: red;
    content: "";
  }
}
