/* Speech bubbles used for conversation or signpost reading */
.speech-bubble,
.tile-btn {
  position: fixed;
  left: 1rem;
  right: 1rem;
  bottom: 1rem;
  z-index: 99999;
  .frame-inner {
    color: white;
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
    white-space: nowrap;
  }
}

/* UI frame */
.tile-btn,
.frame {
  background:
    url("../assets/ui/frame-nw.png") top left no-repeat,
    url("../assets/ui/frame-ne.png") top right no-repeat,
    url("../assets/ui/frame-se.png") bottom right no-repeat,
    url("../assets/ui/frame-sw.png") bottom left no-repeat;

  &::before {
    position: absolute;
    left: 2px;
    right: 2px;
    top: 0;
    bottom: 0;
    background:
      url("../assets/ui/frame-s.png") bottom repeat-x,
      url("../assets/ui/frame-n.png") top repeat-x;
    content: "";
    pointer-events: none;
  }
  &::after {
    position: absolute;
    left: 0;
    right: 0;
    top: 2px;
    bottom: 2px;
    background:
      url("../assets/ui/frame-e.png") right repeat-y,
      url("../assets/ui/frame-w.png") left repeat-y;
    content: "";
    pointer-events: none;
  }

  .frame-inner {
    display: flex;
    width: 100%;
    background-color: #8f563b;
  }
}

.tile-btn {
  appearance: none;
  border: none;
  padding: 0;
  font: inherit;
}
